* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Plain Light';
}

html,
body {
  height: 100%;
  width: 100%;
}

.cursor {
  background-color: transparent;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  position: fixed;
  z-index: 99999;
  border: 2px solid rgb(222, 222, 222);
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
  left: 0;
  top: 0;
}

/* .loader {
  display: none;
} */

#main {
  position: relative;
  background-color: #000000;
  overflow-y: hidden;
}

.loader {
  position: fixed;
  background-color: #000000;
  height: 100vh;
  width: 100%;
  z-index: 999;
  padding: 13vh 6vw;
}

.line {
  /* background-color: red; */
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3vw;
  overflow: hidden;
}

.line .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5vw;
}

.line .timer h5 {
  font-family: 'silk serif';
  font-size: 3vw;
  font-weight: 100;
}

.line .timer h6 {
  font-family: 'silk serif';
  font-size: 3vw;
  font-weight: 100;
}


.line .timer h5 {
  width: 5vw;
}


.line h1 {
  font-size: 7vw;
  font-weight: 600;
  text-transform: uppercase;
}

.line h2 {
  font-size: 5.3vw;
  background-color: red;
  width: 13vw;
  animation-name: rattle;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes rattle {
  0% {
    font-family: 'Plain Light';
    -webkit-text-stroke: 1px white;
    color: white;
  }

  /* 48% {
    font-family: 'Plain Light';
    -webkit-text-stroke: 1px white;
    color: white;
    opacity: 0;

  }

  50% {
    font-family: 'Silk serif';
    -webkit-text-stroke: 1px white;
    color: transparent;
    opacity: 1;
  } */

  100% {
    font-family: 'Silk serif';
    -webkit-text-stroke: 1px white;
    color: transparent;

  }
}


.page-1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2vw 6vw;
}

.nav-2 {
  display: flex;
  gap: 2vw;
}

.nav-2 h6 {
  font-weight: 500;
  font-size: 1vw
}

.nav-2 h6:hover {}


.hero {
  /* background-color: rebeccapurple; */
  width: 70%;
  margin-left: 27%;
  height: fit-content;
  overflow: hidden;
}

.hero h1 {
  font-size: 7.5vw;
  line-height: 7vw;
  text-transform: uppercase;

}

.herosection:nth-child(2) {
  margin-top: 18vh;
}

#hero3 {
  display: flex;
}

#hero3 h2,
#hero3 h3 {
  font-size: 7.5vw;
  line-height: 7vw;
  text-transform: uppercase;
}

#hero3 h2 {
  border-bottom: 0.6vw solid white;
}

#hero3 h2:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
  font-weight: 500;
  border-bottom: 0.6vw solid rgba(255, 255, 255, 0);

}